/dist/
/dist-newstyle/
/TAGS
/ctags
/tags
/cabal.project.local
/cabal.project.local~
cabal.sandbox.config
.stack-work
stack*.yaml.lock
/.dir-locals.el
/.vscode
/.ghc.environment*
*.swp
*.swo
*.orig
*.DS_Store
.hspec-failures
hie
.hie
