/dist/
/dist-newstyle/
/TAGS
/ctags
/tags
/cabal.project.local
/cabal.project.local~
.stack-work
stack*.yaml.lock
/.dir-locals.el
/.vscode
/.ghc.environment*
/lsp-types/cabal.project.local
/lsp-types/cabal.project.local~
*.swp
*.swo
*.orig
*.DS_Store
.hspec-failures
/lsp-types/dist/
/lsp-types/dist-newstyle/
/lsp-types/TAGS
/lsp-types/tags
/lsp-types/ctags
.hie
