/dist/
/dist-newstyle/
/TAGS
/tags
/cabal.project.local
.stack-work
/.dir-locals.el
/.vscode
/.ghc.environment*
/haskell-lsp-types/cabal.project.local
/haskell-lsp-types/cabal.project.local~
*.swp
*.swo
*.DS_Store
.hspec-failures
/haskell-lsp-types/dist/
/haskell-lsp-types/dist-newstyle/
