.stack-work
dist
.cabal-sandbox
cabal.sandbox.config
dist-newstyle
cabal.project.local*
.ghc.environment.*
**/.DS_Store
*.swp

example/dist
example/dist-newstyle
example/cabal.project.local
example/.ghc.environment.*

# used for rerunning failed hspec tests
.hspec-failures
